*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(img/background.jpg);
    color: white;
}
#container{
max-width: 1036px;
width: 1240px;
background-color:rgba(243, 234, 234, 0.3) ;
margin: auto;
margin-top: 30px;
border-radius: 25px;
border-style:dotted;
border-color:chocolate;
}
#title{
    font-size: 5,1rem;
    color: white;
    font-family: 'Teko', sans-serif;
    letter-spacing:0.25em ;
    word-spacing: 0.20em;
    
}
#descripton{
    font-family: 'Teko', sans-serif;
    letter-spacing:0.50em ;
    
    
}

h3{
    font-family:'Teko', sans-serif;
    letter-spacing: 0.10em;
}
#header{
    text-align: center;
}

#survey-form-container{
    width: 500px;
    background-color:rgba(5, 5, 20, 0.555) ;
    margin:auto;
    padding: 10px 40px;
    border-radius: 25px;
}

#name,
#surname,
#email{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(221, 169, 133);
    color: white; 
    
}
#dropdown{
    padding: 10px;

}
.input-box{
    margin-top: 10px;
}
select{
    background-color: rgb(214, 176, 148);
    border-radius: 25px;
    
}

#audio{
    
    width: 150px;
    height: 100px;
    
}
#form-button{
    width: 100px;
    height: 20px;
    background-color: chocolate;
    border-radius: 10px;
    color: white;
    border: none;

}
textarea{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    overflow-y: scroll;
    background-color: rgb(189, 159, 137);
}

